h1 {
    text-align: center;
}

body{
    background-color: orange;
}

@media screen and (max-width: 480px) {
/*-----smartphone---------*/

    body{
        background: red;
    }
    h1{
        font-size: 1rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    /*-------tablet--------*/

    body{
        background: yellow;
    }
    h1{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    /*---------ordenadores---------*/

    body{
        background: orange;
    }
    h1{
        font-size: 4rem;
    }
}